{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }}
    Signup
{% endblock %}


{% block content %}
<div class="appHeader no-border transparent position-absolute">
    <div class="left">
        <a href="javascript:;" class="headerButton goBack">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </a>
    </div>
    <div class="pageTitle"></div>
   
</div>
<div id="appCapsule">

    <div class="login-form">
        <div class="section">
            <h1>Restablecer contraseña</h1>
            <h4>Escriba su correo electrónico para restablecer su contraseña</h4>
        </div>
        <div class="section mt-2 mb-5">
            <form action="" method="post" class="form" role="form">
                {{ reset_form.hidden_tag()}}
                <div class="form-group boxed">
                    <div class="input-wrapper">                        
                        {{ reset_form.email(class="form-control",placeholder="Correo electronico",id="name1",type="email")}}
                        <i class="clear-input">
                            <ion-icon name="close-circle"></ion-icon>
                        </i>
                    </div>
                </div>
                <div class="form-button-group">
                    {{ reset_form.submit(class="btn btn-primary btn-block btn-lg")}}
                </div>

                {% if reset_form.errors %}
                <div id="toast-12" class="toast-box toast-center">
                    <div class="in">                        
                        <ion-icon name="close-circle-outline" class="text-danger"></ion-icon>
                        <div class="text">              
                        {% for field, errors in reset_form.errors.items() %}                        
                            {{ reset_form[field].label }}: {{ ', '.join(errors) }}                  
                        {% endfor %}
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-text-light close-button">CERRAR</button>
                </div>
                <script>	setTimeout(() => {
                    toastbox('toast-12', 3000);		
                }, 1000);</script>
                    {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock %}